flows_localhost.json
[{"id":"9ef4cf31.4bd52","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ba0e55ea.149408","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"52c5d53e.cba95c","type":"tab","label":"dashboard","disabled":false,"info":"# # "},{"id":"284be015.2e6eb","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":44,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"215e0247.3eff7e","type":"ui_tab","z":"","name":"test","icon":"dashboard","disabled":false,"hidden":false},{"id":"ae6ee0a1.a60c6","type":"ui_group","z":"","name":"front cam","tab":"215e0247.3eff7e","order":1,"disp":true,"width":"3","collapse":false},{"id":"e14b2ed9.f5569","type":"ui_group","z":"","name":"back cam","tab":"215e0247.3eff7e","order":2,"disp":true,"width":"3","collapse":false},{"id":"7cd6e8d.b278618","type":"ui_group","z":"","name":"text to speaker","tab":"215e0247.3eff7e","order":4,"disp":true,"width":"3","collapse":false},{"id":"7c1b1d9b.e68464","type":"ui_group","z":"","name":"vibrate","tab":"215e0247.3eff7e","order":3,"disp":true,"width":"3","collapse":false},{"id":"85167f08.458a","type":"ui_group","z":"","name":"back light","tab":"215e0247.3eff7e","order":5,"disp":true,"width":"3","collapse":false},{"id":"1c71590.30a4aa7","type":"termux-vibrate","z":"9ef4cf31.4bd52","name":"","topic":"","duration":1000,"force":false,"x":240,"y":210,"wires":[]},{"id":"815685e2.d72c58","type":"inject","z":"9ef4cf31.4bd52","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105,"y":210,"wires":[["1c71590.30a4aa7"]]},{"id":"b891dade.0b3db8","type":"termux-location","z":"9ef4cf31.4bd52","name":"","topic":"","provider":"gps","request":"once","x":300,"y":285,"wires":[["410b9ed7.065d"]]},{"id":"56ed6c83.341b54","type":"inject","z":"9ef4cf31.4bd52","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105,"y":285,"wires":[["b891dade.0b3db8"]]},{"id":"410b9ed7.065d","type":"debug","z":"9ef4cf31.4bd52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":505,"y":285,"wires":[]},{"id":"68f05900.3928f8","type":"termux-telephony-deviceinfo","z":"9ef4cf31.4bd52","name":"","topic":"","x":320,"y":330,"wires":[["6f530438.66877c"]]},{"id":"d521893d.403d38","type":"inject","z":"9ef4cf31.4bd52","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105,"y":330,"wires":[["68f05900.3928f8"]]},{"id":"6f530438.66877c","type":"debug","z":"9ef4cf31.4bd52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":330,"wires":[]},{"id":"dd557b0c.2b2668","type":"termux-camera-info","z":"9ef4cf31.4bd52","name":"","topic":"","x":315,"y":390,"wires":[["54f7cc89.563224"]]},{"id":"a67863e5.6fc3e","type":"inject","z":"9ef4cf31.4bd52","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105,"y":390,"wires":[["dd557b0c.2b2668"]]},{"id":"54f7cc89.563224","type":"debug","z":"9ef4cf31.4bd52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":390,"wires":[]},{"id":"47f2f465.dc740c","type":"exec","z":"ba0e55ea.149408","command":"termux-tts-speak","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":300,"y":105,"wires":[["4a7ab74f.a29d18"],["4a7ab74f.a29d18"],["4a7ab74f.a29d18"]]},{"id":"cf466df3.91104","type":"inject","z":"ba0e55ea.149408","name":"","topic":"","payload":"You are beautiful. The story is complicated. All it left me is Tears and rain.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":105,"wires":[["47f2f465.dc740c"]]},{"id":"4a7ab74f.a29d18","type":"debug","z":"ba0e55ea.149408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":105,"wires":[]},{"id":"60094840.977c28","type":"exec","z":"ba0e55ea.149408","command":"termux-torch","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":280,"y":210,"wires":[["209d8c99.8f00f4"],["209d8c99.8f00f4"],["209d8c99.8f00f4"]]},{"id":"5f3dc948.47e638","type":"inject","z":"ba0e55ea.149408","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["60094840.977c28"]]},{"id":"209d8c99.8f00f4","type":"debug","z":"ba0e55ea.149408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":210,"wires":[]},{"id":"9e5bf745.5708c8","type":"inject","z":"ba0e55ea.149408","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["60094840.977c28"]]},{"id":"865ba781.f08248","type":"exec","z":"ba0e55ea.149408","command":"termux-vibrate","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":290,"y":300,"wires":[["994e5553.6b4da8"],["994e5553.6b4da8"],["994e5553.6b4da8"]]},{"id":"995f5d6b.98754","type":"inject","z":"ba0e55ea.149408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105,"y":300,"wires":[["865ba781.f08248"]]},{"id":"994e5553.6b4da8","type":"debug","z":"ba0e55ea.149408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":300,"wires":[]},{"id":"3cb3f22e.b7ad7e","type":"exec","z":"ba0e55ea.149408","command":"termux-camera-photo -c 1 mysite/static/images/temp.jpeg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":420,"y":360,"wires":[["1c0d8626.4d1a0a"],["1c0d8626.4d1a0a"],["1c0d8626.4d1a0a"]]},{"id":"320ae092.f67e4","type":"inject","z":"ba0e55ea.149408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105,"y":360,"wires":[["3cb3f22e.b7ad7e"]]},{"id":"1c0d8626.4d1a0a","type":"debug","z":"ba0e55ea.149408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":360,"wires":[]},{"id":"20dcbe1f.845392","type":"ui_template","z":"52c5d53e.cba95c","group":"ae6ee0a1.a60c6","name":"","order":0,"width":"3","height":"3","format":"","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":600,"y":135,"wires":[[]]},{"id":"b7b3c9d4.44bb88","type":"exec","z":"52c5d53e.cba95c","command":"termux-camera-photo -c 1","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"termux-camera-photo -c 1","x":365,"y":195,"wires":[[],[],["eebfaf3.082f55"]]},{"id":"7685ac5d.347254","type":"ui_button","z":"52c5d53e.cba95c","name":"","group":"ae6ee0a1.a60c6","order":1,"width":0,"height":0,"passthru":false,"label":"front photo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":45,"wires":[["5d238410.dac8dc"]]},{"id":"185efb12.5990f5","type":"change","z":"52c5d53e.cba95c","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":345,"y":90,"wires":[["7eee3eee.a6834"]]},{"id":"5d238410.dac8dc","type":"change","z":"52c5d53e.cba95c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"/data/data/com.termux/files/home/.node-red/mysite/static/images/front-timestamp.jpeg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":335,"y":45,"wires":[["185efb12.5990f5"]]},{"id":"7eee3eee.a6834","type":"change","z":"52c5d53e.cba95c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"timestamp","fromt":"str","to":"timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":355,"y":135,"wires":[["b7b3c9d4.44bb88"]]},{"id":"eebfaf3.082f55","type":"change","z":"52c5d53e.cba95c","name":"","rules":[{"t":"set","p":"template","pt":"msg","to":"<div layout=\"row\" layout-align=\"space-between\">     <img src=/images/front-timestamp.jpeg width=\"114\" height=\"152\"> </div>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":45,"wires":[["5da785f5.250c1c"]]},{"id":"5da785f5.250c1c","type":"change","z":"52c5d53e.cba95c","name":"","rules":[{"t":"change","p":"template","pt":"msg","from":"timestamp","fromt":"str","to":"timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":90,"wires":[["20dcbe1f.845392"]]},{"id":"fd02dd8e.d939b","type":"ui_template","z":"52c5d53e.cba95c","group":"e14b2ed9.f5569","name":"","order":0,"width":"3","height":"3","format":"","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":600,"y":375,"wires":[[]]},{"id":"a5f3cc5.4f7763","type":"exec","z":"52c5d53e.cba95c","command":"termux-camera-photo -c 0","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"termux-camera-photo -c 1","x":365,"y":435,"wires":[[],[],["ddd049e9.3b5948"]]},{"id":"1dc671d6.1a0fee","type":"ui_button","z":"52c5d53e.cba95c","name":"","group":"e14b2ed9.f5569","order":1,"width":"0","height":"0","passthru":false,"label":"back photo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":285,"wires":[["e9df6bef.d076b8"]]},{"id":"3c43e29.b72da1e","type":"change","z":"52c5d53e.cba95c","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":345,"y":330,"wires":[["c083a255.7081a"]]},{"id":"e9df6bef.d076b8","type":"change","z":"52c5d53e.cba95c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"/data/data/com.termux/files/home/.node-red/mysite/static/images/back-timestamp.jpeg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":335,"y":285,"wires":[["3c43e29.b72da1e"]]},{"id":"c083a255.7081a","type":"change","z":"52c5d53e.cba95c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"timestamp","fromt":"str","to":"timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":355,"y":375,"wires":[["a5f3cc5.4f7763"]]},{"id":"ddd049e9.3b5948","type":"change","z":"52c5d53e.cba95c","name":"","rules":[{"t":"set","p":"template","pt":"msg","to":"<div layout=\"row\" layout-align=\"space-between\">     <img src=/images/back-timestamp.jpeg width=\"114\" height=\"152\"> </div>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":285,"wires":[["7345f2dc.b8e9fc"]]},{"id":"7345f2dc.b8e9fc","type":"change","z":"52c5d53e.cba95c","name":"","rules":[{"t":"change","p":"template","pt":"msg","from":"timestamp","fromt":"str","to":"timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":330,"wires":[["fd02dd8e.d939b"]]},{"id":"acd2eba0.1f5998","type":"ui_text_input","z":"52c5d53e.cba95c","name":"","label":"","tooltip":"","group":"7cd6e8d.b278618","order":2,"width":"3","height":"1","passthru":true,"mode":"text","delay":"0","topic":"","x":90,"y":555,"wires":[["792e380e.f54798"]]},{"id":"792e380e.f54798","type":"exec","z":"52c5d53e.cba95c","command":"termux-tts-speak","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":345,"y":555,"wires":[[],[],[]]},{"id":"9eeab254.5ffe5","type":"ui_button","z":"52c5d53e.cba95c","name":"","group":"7c1b1d9b.e68464","order":0,"width":0,"height":0,"passthru":false,"label":"vib for 1s","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":495,"wires":[["60c07c87.93e5d4"]]},{"id":"60c07c87.93e5d4","type":"exec","z":"52c5d53e.cba95c","command":"termux-vibrate","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":335,"y":495,"wires":[[],[],[]]},{"id":"58572563.05ce7c","type":"exec","z":"52c5d53e.cba95c","command":"termux-torch","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":325,"y":615,"wires":[[],[],[]]},{"id":"27d70474.0f0e8c","type":"ui_switch","z":"52c5d53e.cba95c","name":"","label":"switch","tooltip":"","group":"85167f08.458a","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":80,"y":615,"wires":[["58572563.05ce7c"]]}]