flows_localhost.json
[{"id":"9ef4cf31.4bd52","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ba0e55ea.149408","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"284be015.2e6eb","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1c71590.30a4aa7","type":"termux-vibrate","z":"9ef4cf31.4bd52","name":"","topic":"","duration":1000,"force":false,"x":240,"y":210,"wires":[]},{"id":"815685e2.d72c58","type":"inject","z":"9ef4cf31.4bd52","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105,"y":210,"wires":[["1c71590.30a4aa7"]]},{"id":"b891dade.0b3db8","type":"termux-location","z":"9ef4cf31.4bd52","name":"","topic":"","provider":"gps","request":"once","x":300,"y":285,"wires":[["410b9ed7.065d"]]},{"id":"56ed6c83.341b54","type":"inject","z":"9ef4cf31.4bd52","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105,"y":285,"wires":[["b891dade.0b3db8"]]},{"id":"410b9ed7.065d","type":"debug","z":"9ef4cf31.4bd52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":505,"y":285,"wires":[]},{"id":"68f05900.3928f8","type":"termux-telephony-deviceinfo","z":"9ef4cf31.4bd52","name":"","topic":"","x":320,"y":330,"wires":[["6f530438.66877c"]]},{"id":"d521893d.403d38","type":"inject","z":"9ef4cf31.4bd52","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105,"y":330,"wires":[["68f05900.3928f8"]]},{"id":"6f530438.66877c","type":"debug","z":"9ef4cf31.4bd52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":330,"wires":[]},{"id":"dd557b0c.2b2668","type":"termux-camera-info","z":"9ef4cf31.4bd52","name":"","topic":"","x":315,"y":390,"wires":[["54f7cc89.563224"]]},{"id":"a67863e5.6fc3e","type":"inject","z":"9ef4cf31.4bd52","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105,"y":390,"wires":[["dd557b0c.2b2668"]]},{"id":"54f7cc89.563224","type":"debug","z":"9ef4cf31.4bd52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":390,"wires":[]},{"id":"47f2f465.dc740c","type":"exec","z":"ba0e55ea.149408","command":"termux-tts-speak","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":300,"y":360,"wires":[["4a7ab74f.a29d18"],["4a7ab74f.a29d18"],["4a7ab74f.a29d18"]]},{"id":"cf466df3.91104","type":"inject","z":"ba0e55ea.149408","name":"","topic":"","payload":"You are beautiful. The story is complicated. All it left me is Tears and rain.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["47f2f465.dc740c"]]},{"id":"4a7ab74f.a29d18","type":"debug","z":"ba0e55ea.149408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":725,"y":285,"wires":[]},{"id":"60094840.977c28","type":"exec","z":"ba0e55ea.149408","command":"termux-torch","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":365,"y":435,"wires":[["209d8c99.8f00f4"],["209d8c99.8f00f4"],["209d8c99.8f00f4"]]},{"id":"5f3dc948.47e638","type":"inject","z":"ba0e55ea.149408","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":435,"wires":[["60094840.977c28"]]},{"id":"209d8c99.8f00f4","type":"debug","z":"ba0e55ea.149408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":435,"wires":[]},{"id":"9e5bf745.5708c8","type":"inject","z":"ba0e55ea.149408","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":495,"wires":[["60094840.977c28"]]},{"id":"865ba781.f08248","type":"exec","z":"ba0e55ea.149408","command":"termux-vibrate","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":305,"y":555,"wires":[["994e5553.6b4da8"],["994e5553.6b4da8"],["994e5553.6b4da8"]]},{"id":"995f5d6b.98754","type":"inject","z":"ba0e55ea.149408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135,"y":555,"wires":[["865ba781.f08248"]]},{"id":"994e5553.6b4da8","type":"debug","z":"ba0e55ea.149408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":665,"y":480,"wires":[]}]